<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pulperia.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DB1EDA321D64E8F80009FA99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB1EDA461D64E8F80009FA99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB1EDA511D64E8F80009FA99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
